</body>
</html>

<footer>

    <div id="footer-div">

        <a href="/" id="footer-logo-link">
            <img 
                src="/images/icons/vinyls.png" 
                alt="logo pic"
                id="footer-logo-pic"
            >

    </div>

</footer>
