</body>
</html>

<footer>


    <div id="footer-div">

        <a href="/" class="logo-link">
            <img 
                src="/images/icons/vinyls.png" 
                alt="logo pic"
                id="logo-pic"
            >

    <a 
        href="/" id="title-link">Shelf</a>

        </div>


</footer>
