  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <div id="nav-left">

      <a href="/" class="logo-link">
        <img 
          src="../images/icons/vinyls.png" 
          alt="logo pic"
          id="logo-pic"
    >

    <a 
    href="/" id="title-link">Shelf</a>

    </div>

    <div id="nav-right">

      <a 
      href="/explore" id="explore-link">Explore</a>

      <% if (user) { %>

        <a 
          href="/collections/new">New Collection</a>

        <a href="/auth/logout">
          <button type="submit">Logout</button></a>

          <a href="/profiles/me" class="siwg-link">
            <% if (user?.profile.avatar) { %>
              <img 
                src="<%= user.profile.avatar %>" 
                alt="<%= user.profile.name %> avatar"
                id="profile-pic"
              >
            <% } else { %>
              <img 
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/12in-Vinyl-LP-Record-Angle.jpg/1200px-12in-Vinyl-LP-Record-Angle.jpg" 
                alt="avatar placeholder"
                id="profile-pic"
                >
          <% } %>
        </a>

      <% } else { %>


        <a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a>
      <% } %>
      </a>

    </div>
  </nav>
