<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<%- include('./partials/nav') %>

<main>

<h1>Your collections made simple.</h1>

<h2>Discover new music and more.</h2>


</main>

<%- include('./partials/footer') %>
