<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<%- include('./partials/nav') %>

<main>

<h1>Storage made simple.</h1>

<h2>Discover music and more with Shelf.</h2>





</main>

<%- include('./partials/footer') %>
