<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/collections/new.css">
<%- include('../partials/nav') %>

<main>
    <h1>Add a New Collection</h1>
    <form 
    id="new-form" 
    action="/collections" 
    method="POST"
    autocomplete="off">

        <label for="name-input">Collection Name:</label>
            <input type="text" name="name" id="name-input">

        <label for="type-select">Collection Type:</label>
        <select name="type" id="type-select">
            <option value="Books">Books</option>
            <option value="Comics">Comics</option>
            <option value="CDs">CDs</option>
            <option value="Movies">Movies</option>
            <option value="Tapes">Tapes</option>
            <option value="Video Games">Video Games</option>
            <option value="Vinyl Records">Vinyl Records</option>
            <option value="Other">Other</option>
        </select>

        <button type="submit">Add Collection</button>
    </form>
</main>

<%- include('../partials/footer') %>