main {
    background-image: url("/images/background/agnieszka-kowalczyk-z-qxSYHXrh4-unsplash.jpg");
    background-color: #cccccc;
    color: rgb(245, 245, 245);
    background-size: 100vw;
    min-height: calc(100vh - 71px);
    background-repeat: no-repeat;
}