<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>

    <% collections.forEach(collection => { %>

        <div>
            <h3> <%= collection.name %></h3>




        </div>

    <% }) %>

</main>

<%- include('../partials/footer') %>