<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/home/index.css">
<%- include('../partials/nav') %>

<main>

    <body>

        <h1 id="home-text-main">Your collections made simple.</h1>

        <h2 id="home-text-sub">Discover new music, movies, and more.</h2>

    </body>

</main>

<%- include('../partials/footer') %>
