main {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: var(--min-view-height);
    color: rgb(241,241,241);
    background-size: 100vw;
}

body{
    height: 100vh
}

#explore-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
    padding-bottom: 12px;
    /* border-bottom: 2px solid rgb(90, 148, 101); */
}

#header, #explore-image {
    margin: 0 3px
}

#explore-image {
    height: 50px
}

#header {
    font-family: 'Noto Sans KR', sans-serif; 
    font-size: 3rem;
}

#collection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    /* margin-top: 16px; */
}

#individual-collection-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90vw;
    margin: 0 0 0 0;
    padding: 8px 0;
    border-bottom: 1px solid rgb(90, 148, 101);
}

.line-elements {
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection-image {
    height: 90px;
}

.collection-title {
    color: rgb(241,241,241);
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif; 
    font-size: 1.7rem;
}

.collection-title > a:visited {
    color: rgb(241,241,241);
}

#owner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#collection-owner-image {
    max-width: 65px;
    padding: 5px;
}

#collection-owner-name {
    padding: 5px;
    font-size: 1.2rem;
}

#view-element-btn {
    font-size: 1.4rem;
}